@model Aplicacion_Centros_Comerciales.Models.CentroComercialModel
@{
    ViewData["Title"] = "Home Page";
    var filas = 0;
    var id = 1;
}

<div class="text-center" id="pagina">
    
   <p><h1 class="display-4" id="Titulo">Centros comerciales</h1> </p>

@foreach(var item in Model.CentrosComerciales)
{
    if(filas == 0)
    {
        @:<div class="card-group mt-5" id="grupo @id">
    }
        <div class="card" id="@item.Id">
            <img class="card-img-top" src="@item.Imagen" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">CENTRO COMERCIAL @item.Name</h5>
                <p class="card-text">Dirección: @item.Address</p>
                <button class="btn btn-primary" onclick="getTiendas(@item.Id, '@item.Name')">Ver tiendas</button>
            </div>
        </div>
        filas++;

    if(filas >=3)
    {
        id++;
        @:</div>
        filas = 0;
    }
}
</div>
